<div>
    <h1>Modify User</h1>
    
    <form action="/dashboard/{{userData.administrator}}/{{userData._id}}/update" method="POST">
        <label for="username">Username
            <input type="text" id="username" name="username" required/>
        </label>
        <label for="email">Email
            <input type="text" id="email" name="email" required/>
        </label>
        <label for="password">Password</label>
            <input type="password" id="password" name="password" required/>
        
        <label for="position">Position
            <input type="text" id="position" name="position" default="no-position"/>
        </label>
        <button type="submit">Modify</button>

    </form>
</div>