<div>
    <h1>Create user</h1>
    
    <form action="/dashboard/{{idAdmin}}/create" method="POST">
        <label for="username">Username
            <input type="text" id="username" name="username" required/>
        </label>
        <label for="email">Email
            <input type="text" id="email" name="email" required/>
        </label>
        <label for="password">Password</label>
            <input type="password" id="password" name="password" required/>
        
        <label for="position">Position
            <input type="text" id="password" name="password"/>
        </label>
        <button type="submit">Create</button>

    </form>
</div>