<h2>Create user</h2>
<div class="formContainer">    
    <form action="/dashboard/{{idAdmin}}/create" method="POST" enctype="multipart/form-data">

        <label for="username" class="labelForm">Username
            <input type="text" id="username" name="username" class="inputForm"/>
        </label>

        <label for="email" class="labelForm">Email
            <input type="text" id="email" name="email" class="inputForm"/>
        </label>

        <label for="password" class="labelForm">Password
            <input type="password" id="password" name="password" class="inputForm"/>
        </label>

        <label for="position" class="labelForm">Position
            <input type="text" id="position" name="position" class="inputForm" default="no-position"/>
        </label>

        <label for="image" class="labelForm"> Image
            <input type="file" name="image"/>
        </label>

        <button type="submit" class="buttonForm">Create</button>

        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
    </form>
</div>