<div>
<img src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-vector-illustration_268834-538.jpg" alt="">
<p>data</p>
{{!-- {{#each data}}
   <p>{{this.username}}</p>  
    <p>{{this.email}}</p>    
    <p>{{this._id}}</p>    
{{/each}} --}}
</div>