<h2>Welcome to VersaStack</h2>
<div class="formContainer">

    <form action="/signup" method="GET">
        <button type="submit">Sign up</button>
    </form>

    <form action="/login" method="GET">
        <button type="submit">Login</button>
    </form>

</div>