<h2>Login</h2>
<div class="formContainer">
  <form action="/login" method="POST">

    <label class="labelForm"> Username
      <input type="text" name="username" placeholder="Username" class="inputForm"/>
    </label>

    <label class="labelForm"> Password
      <input type="password" name="password" placeholder="********" class="inputForm"/>
    </label>

    <button type="submit" class="buttonForm">Login</button>

    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
