<h2>Signup as an Administrator</h2>
<div class="formContainer">
    <form action="/signup" method="POST" enctype="multipart/form-data">

        <label class="labelForm"> Username
            <input type="text" name="username" placeholder="Username" class="inputForm"/>
        </label>

        <label class="labelForm"> Email
            <input type="email" name="email" placeholder="Email" class="inputForm"/>
        </label>

        <label class="labelForm"> Password
            <input type="password" name="password" placeholder="********" class="inputForm"/>
        </label>

        <label class="labelForm"> Image
            <input type="file" name="image"/>
        </label>
        

        <button type="submit" class="buttonForm">Signup</button>

        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
    </form>
</div>