body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
 
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos de encabezado */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 32px;
  margin: 0;
}

/* Estilos de navegación */
nav {
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px;
}

nav  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}

nav ul li a:hover {
  background-color: #333;
  color: #fff;
}

/* Estilos de contenido principal */
main {
  padding: 20px;
}

/* Estilos de formulario */
form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #333;
}

/* Estilos de tabla */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

/* Estilos de pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}